<div class="row">
    <div class="col-lg-8">
        <chart type="line" [data]="data" [options]="options"></chart>
    </div>
    <div class="col-lg-4">

        <nb-card>
            <nb-card-header>Input</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <button class="btn btn-demo" (click)="update()">Update</button>
                    <div class="row">
                        <div class="col">
                            <label>Margin</label>
                        </div>
                        <div class="col">
                            <input type="number" placeholder="Margin" class="form-control" [(ngModel)]="ainput.imargin" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Cost Per Unit</label>
                        </div>
                        <div class="col">
                            <input type="number" placeholder="Cost Per Unit" class="form-control" [(ngModel)]="ainput.icostu" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Available Units</label>
                        </div>
                        <div class="col">
                            <input type="number" placeholder="Available Units" class="form-control" [(ngModel)]="ainput.iastock" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Operational Costs</label>
                        </div>
                        <div class="col">
                            <input type="number" placeholder="Operational Costs" class="form-control" [(ngModel)]="ainput.iopcos" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Indirect Costs</label>
                        </div>
                        <div class="col">
                            <input type="number" placeholder="Indirect Costs" class="form-control" [(ngModel)]="ainput.iincos" />
                        </div>
                    </div>

                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>Business Indicators</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col">
                        <label>Total Revenue</label>
                    </div>
                    <div class="col">
                        <input type="number" placeholder="Total Revenue" class="form-control" disabled [(ngModel)]="btotrev" />

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Profit/Unit</label>
                    </div>
                    <div class="col">
                        <input type="number" placeholder="Profit Per Unit" class="form-control" [(ngModel)]="bprou" disabled />

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Fraction Of Profit</label>
                    </div>
                    <div class="col">
                        <input type="number" placeholder="Fraction Of Profit" class="form-control" [(ngModel)]="bfracprof" disabled />

                    </div>
                </div>



            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Competitor Analysis</nb-card-header>
            <nb-card-body>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Competitor Name</th>
                            <th scope="col">Lowest ($)</th>
                            <th scope="col">Highest ($)</th>
                            <th scope="col">Timeframe (weeks)</th>
                            <th scope="col">Current ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amazon</td>
                            <td>362.00</td>
                            <td>364.00</td>
                            <td>2</td>
                            <td>364.00</td>
                        </tr>
                        <tr>
                            <td>Alibaba</td>
                            <td>358.00</td>
                            <td>360.00</td>
                            <td>2</td>
                            <td>360.00</td>
                        </tr>
                        <tr>
                            <td>Euronics</td>
                            <td>456.00</td>
                            <td>659.00</td>
                            <td>2</td>
                            <td>659.00</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>